# Generated by "veruapis spec". Do not edit.
#
# Built from the same tables that route and gate the API, so it cannot describe
# an endpoint the server does not serve. Regenerate rather than patching: a
# hand-edit is drift the next run silently discards.

openapi: 3.1.0
info:
  title: VeruSuite APIs
  version: dev
  summary: Mail, calendar and workspace administration for a VeruSuite workspace.
  description: |-
    Every call is authorised by a key you create yourself and acts as you, limited to the permissions you granted it. Keys are issued at veruapis.com.

    This document is generated from the same tables that route and gate the API, so it cannot describe an endpoint the server does not serve.
servers:
  - url: https://api.veruapis.com
    description: Production
security:
  - apiKey: []
tags:
  - name: calendar
    description: Events, invitations, recurrence and availability.
  - name: contacts
    description: Address books and the people in them.
  - name: documents
    description: Documents and their comments. Creating, renaming and trashing a spreadsheet happens here too, because a spreadsheet is a document.
  - name: files
    description: Upload, download, organise and share files. Uploads are resumable, so a large file survives a dropped connection.
  - name: identity
    description: Who the key acts as, and the people in their workspace. Available whatever apps the workspace has.
  - name: mail
    description: Read, organise and send email. Sending is its own permission, separate from writing.
  - name: spreadsheets
    description: 'The contents of a spreadsheet: reading and writing ranges, appending rows, and the structural changes that move data around. Changing structure is a separate permission from writing values.'
paths:
  /v1/address-books:
    get:
      operationId: contactsListAddressBooks
      summary: List address books
      description: |-
        Lists the address books available to the user.

        Every book in the mailbox rather than a page: there are a handful, so paging would mean writing a loop that never runs twice.
      tags:
        - contacts
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contact_count:
                        type: integer
                      created_at:
                        type: string
                        format: date-time
                      description:
                        type: string
                      id:
                        type: string
                        description: Pass as address_book_id when listing or creating contacts.
                      name:
                        type: string
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - contacts.read
  /v1/calendars:
    get:
      operationId: calendarListCalendars
      summary: List calendars
      description: Lists the calendars the user can see.
      tags:
        - calendar
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      color:
                        type: string
                        description: A hex colour the calendar apps render it in.
                      effective_permission:
                        type: string
                        description: What this key may do with it once sharing is resolved.
                        enum:
                          - owner
                          - write
                          - read
                      id:
                        type: string
                        description: Use this wherever an endpoint takes a calendar_id.
                      name:
                        type: string
                      owner_email:
                        type: string
                        description: 'Who owns it. Not always you: a calendar shared with you appears here too.'
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.read
    post:
      operationId: calendarCreateCalendar
      summary: Create a calendar
      description: Creates a calendar owned by the user.
      tags:
        - calendar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  type: string
                  description: 'Hex, for example #3b82f6.'
                name:
                  type: string
              required:
                - name
              additionalProperties: false
      responses:
        "201":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.write
  /v1/calendars/{calendar_id}:
    get:
      operationId: calendarGetCalendar
      summary: Get a calendar
      description: Returns one calendar with its sharing and permissions.
      tags:
        - calendar
      parameters:
        - name: calendar_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.read
    patch:
      operationId: calendarUpdateCalendar
      summary: Update a calendar
      description: |-
        Renames a calendar or changes its colour and visibility.

        Send only what changes.
      tags:
        - calendar
      parameters:
        - name: calendar_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.write
    delete:
      operationId: calendarDeleteCalendar
      summary: Delete a calendar
      description: |-
        Deletes a calendar and the events in it.

        Deletes the calendar and every event in it.
      tags:
        - calendar
      parameters:
        - name: calendar_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.write
  /v1/calendars/{calendar_id}/events:
    get:
      operationId: calendarListCalendarEvents
      summary: List events in a calendar
      description: Lists events in one calendar over a time range.
      tags:
        - calendar
      parameters:
        - name: calendar_id
          in: path
          required: true
          schema:
            type: string
        - name: start
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            description: Defaults to 250.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.read
    post:
      operationId: calendarCreateEvent
      summary: Create an event
      description: |-
        Creates an event and sends invitations to any attendees.

        Listing an attendee sends them an invitation. To reschedule afterwards use PATCH rather than deleting and recreating: PATCH keeps the id and UID and raises the sequence, so their calendar updates the meeting in place instead of cancelling one and inviting them to another.
      tags:
        - calendar
      parameters:
        - name: calendar_id
          in: path
          required: true
          description: The calendar to add it to.
          schema:
            type: string
            description: The calendar to add it to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                all_day:
                  type: boolean
                  description: Stores dates without times. Defaults to false.
                attendees:
                  type: array
                  description: Who is invited. Listing anyone here sends them an invitation.
                  items:
                    type: object
                    properties:
                      cutype:
                        type: string
                        description: What kind of attendee this is. Defaults to INDIVIDUAL.
                        enum:
                          - INDIVIDUAL
                          - GROUP
                          - RESOURCE
                          - ROOM
                      display_name:
                        type: string
                        description: Shown instead of the address in a calendar app.
                      email:
                        type: string
                        description: The only required field on an attendee.
                      partstat:
                        type: string
                        description: Their answer. Set it only when you already know it; otherwise leave it for them to give. Defaults to NEEDS-ACTION.
                        enum:
                          - NEEDS-ACTION
                          - ACCEPTED
                          - DECLINED
                          - TENTATIVE
                          - DELEGATED
                      role:
                        type: string
                        description: Whether their presence is needed, optional, or informational. Defaults to REQ-PARTICIPANT.
                        enum:
                          - REQ-PARTICIPANT
                          - OPT-PARTICIPANT
                          - NON-PARTICIPANT
                          - CHAIR
                    required:
                      - email
                    additionalProperties: false
                description:
                  type: string
                ends_at:
                  type: string
                  format: date-time
                  description: Must be after starts_at.
                location:
                  type: string
                organizer:
                  type: string
                  description: The address shown as organiser. Defaults to you.
                rrule:
                  type: string
                  description: An RFC 5545 recurrence rule, for example FREQ=WEEKLY;BYDAY=TU,TH.
                starts_at:
                  type: string
                  format: date-time
                  description: In UTC. 2026-09-05T12:00:00Z is 3pm where the offset is +03:00.
                summary:
                  type: string
                  description: The title, as it appears in a calendar app.
                url:
                  type: string
                  description: Typically a meeting link.
              required:
                - summary
                - starts_at
                - ends_at
              additionalProperties: false
      responses:
        "201":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.write
  /v1/calendars/{calendar_id}/events/{id}:
    get:
      operationId: calendarGetEvent
      summary: Get an event
      description: Returns one event with its attendees and recurrence rule.
      tags:
        - calendar
      parameters:
        - name: calendar_id
          in: path
          required: true
          description: An event id is unique within its calendar, not across the mailbox.
          schema:
            type: string
            description: An event id is unique within its calendar, not across the mailbox.
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.read
    patch:
      operationId: calendarUpdateEvent
      summary: Update an event
      description: |-
        Changes an event and notifies attendees.

        Send only what changes; the same fields as create. The event keeps its id and UID, and its sequence rises so attendees see a revision rather than a new invitation.
      tags:
        - calendar
      parameters:
        - name: calendar_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.write
    delete:
      operationId: calendarDeleteEvent
      summary: Delete an event
      description: |-
        Cancels an event and notifies attendees.

        Attendees receive a cancellation.
      tags:
        - calendar
      parameters:
        - name: calendar_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.write
  /v1/calendars/{calendar_id}/events/{id}/rsvp:
    post:
      operationId: calendarRsvp
      summary: Respond to an invitation
      description: |-
        Accepts, declines or tentatively accepts an invitation.

        Read access to the calendar is enough; you do not need write to answer an invitation. Your address must be on the attendee list, or this returns 404.
      tags:
        - calendar
      parameters:
        - name: calendar_id
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: A note for the organiser, sent with the reply and not stored.
                response:
                  type: string
                  description: Your answer to the invitation.
                  enum:
                    - accepted
                    - declined
                    - tentative
              required:
                - response
              additionalProperties: false
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - calendar.events.write
  /v1/comments/{id}:
    patch:
      operationId: documentsUpdateComment
      summary: Edit or resolve a comment
      description: |-
        Changes a comment's text, or resolves and reopens the thread.

        Send body, state, or both.
      tags:
        - documents
      parameters:
        - name: id
          in: path
          required: true
          description: The comment to change.
          schema:
            type: string
            description: The comment to change.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: 'The author''s alone: anyone else gets 403.'
                state:
                  type: string
                  description: Resolving is not authorship — anyone who may comment can close or reopen a thread, which is how the editor behaves.
                  enum:
                    - open
                    - resolved
              additionalProperties: false
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      author_id:
                        type: string
                      body:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      document_id:
                        type: string
                      id:
                        type: string
                      parent_id:
                        type: string
                        description: Set on a reply, absent on a thread's first comment.
                      state:
                        type: string
                        enum:
                          - open
                          - resolved
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.comments.write
    delete:
      operationId: documentsDeleteComment
      summary: Delete a comment
      description: |-
        Removes a comment. Only its author may.

        Only the author may. A soft delete upstream, so a thread keeps its shape.
      tags:
        - documents
      parameters:
        - name: id
          in: path
          required: true
          description: The comment to remove.
          schema:
            type: string
            description: The comment to remove.
      responses:
        "204":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.comments.write
  /v1/contacts:
    get:
      operationId: contactsListContacts
      summary: List contacts
      description: |-
        Lists contacts with cursor pagination.

        has_more stays true while a full page comes back. A contact list is edited by the person paging through it, so a cursor is a position rather than a snapshot.
      tags:
        - contacts
      parameters:
        - name: address_book_id
          in: query
          description: Restrict to one address book.
          schema:
            type: string
            description: Restrict to one address book.
        - name: q
          in: query
          description: Case-insensitive fragment match against the name and every address on the contact, including secondary ones.
          schema:
            type: string
            description: Case-insensitive fragment match against the name and every address on the contact, including secondary ones.
        - name: limit
          in: query
          description: 1 to 200.
          schema:
            type: integer
            description: 1 to 200. Defaults to 50.
        - name: cursor
          in: query
          description: From the previous page's next_cursor. Opaque, and only meaningful with the same filters.
          schema:
            type: string
            description: From the previous page's next_cursor. Opaque, and only meaningful with the same filters.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      address_book_id:
                        type: string
                        description: Which book holds it.
                      created_at:
                        type: string
                        format: date-time
                      emails:
                        type: array
                        description: Addresses, in stored order. The first is the one to compose to.
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            type:
                              type: string
                              description: A label such as work or home. Free text, not a closed set.
                          required:
                            - address
                          additionalProperties: false
                      family_name:
                        type: string
                      given_name:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                        description: The display name. Core calls this formatted_name; it is name here, because that is what every other resource in this API calls the human-readable string.
                      notes:
                        type: string
                      organization:
                        type: string
                      phones:
                        type: array
                        description: Numbers, in stored order.
                        items:
                          type: object
                          properties:
                            number:
                              type: string
                            type:
                              type: string
                              description: A label such as cell or work.
                          required:
                            - number
                          additionalProperties: false
                      title:
                        type: string
                        description: Their job title, not a name prefix.
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - contacts.read
    post:
      operationId: contactsCreateContact
      summary: Create a contact
      description: |-
        Adds a contact to an address book.

        name is the only required field. Omitted fields are simply absent on the contact.
      tags:
        - contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address_book_id:
                  type: string
                  description: Which book to file it in. Defaults to the mailbox's own book.
                emails:
                  type: array
                  description: Replaces the whole list.
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                      type:
                        type: string
                    required:
                      - address
                    additionalProperties: false
                family_name:
                  type: string
                given_name:
                  type: string
                name:
                  type: string
                  description: The display name. Required when creating.
                notes:
                  type: string
                organization:
                  type: string
                phones:
                  type: array
                  description: Replaces the whole list.
                  items:
                    type: object
                    properties:
                      number:
                        type: string
                      type:
                        type: string
                    required:
                      - number
                    additionalProperties: false
                title:
                  type: string
              required:
                - name
              additionalProperties: false
      responses:
        "201":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      address_book_id:
                        type: string
                        description: Which book holds it.
                      created_at:
                        type: string
                        format: date-time
                      emails:
                        type: array
                        description: Addresses, in stored order. The first is the one to compose to.
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            type:
                              type: string
                              description: A label such as work or home. Free text, not a closed set.
                          required:
                            - address
                          additionalProperties: false
                      family_name:
                        type: string
                      given_name:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                        description: The display name. Core calls this formatted_name; it is name here, because that is what every other resource in this API calls the human-readable string.
                      notes:
                        type: string
                      organization:
                        type: string
                      phones:
                        type: array
                        description: Numbers, in stored order.
                        items:
                          type: object
                          properties:
                            number:
                              type: string
                            type:
                              type: string
                              description: A label such as cell or work.
                          required:
                            - number
                          additionalProperties: false
                      title:
                        type: string
                        description: Their job title, not a name prefix.
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - contacts.write
  /v1/contacts/{id}:
    get:
      operationId: contactsGetContact
      summary: Get a contact
      description: Returns one contact.
      tags:
        - contacts
      parameters:
        - name: id
          in: path
          required: true
          description: The contact to read.
          schema:
            type: string
            description: The contact to read.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      address_book_id:
                        type: string
                        description: Which book holds it.
                      created_at:
                        type: string
                        format: date-time
                      emails:
                        type: array
                        description: Addresses, in stored order. The first is the one to compose to.
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            type:
                              type: string
                              description: A label such as work or home. Free text, not a closed set.
                          required:
                            - address
                          additionalProperties: false
                      family_name:
                        type: string
                      given_name:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                        description: The display name. Core calls this formatted_name; it is name here, because that is what every other resource in this API calls the human-readable string.
                      notes:
                        type: string
                      organization:
                        type: string
                      phones:
                        type: array
                        description: Numbers, in stored order.
                        items:
                          type: object
                          properties:
                            number:
                              type: string
                            type:
                              type: string
                              description: A label such as cell or work.
                          required:
                            - number
                          additionalProperties: false
                      title:
                        type: string
                        description: Their job title, not a name prefix.
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - contacts.read
    patch:
      operationId: contactsUpdateContact
      summary: Update a contact
      description: |-
        Edits a contact.

        Send only what changes; fields you omit are left alone. Sending emails or phones replaces that whole list rather than adding to it, so read the contact first if you mean to append.
      tags:
        - contacts
      parameters:
        - name: id
          in: path
          required: true
          description: The contact to change.
          schema:
            type: string
            description: The contact to change.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address_book_id:
                  type: string
                  description: Which book to file it in. Defaults to the mailbox's own book.
                emails:
                  type: array
                  description: Replaces the whole list.
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                      type:
                        type: string
                    required:
                      - address
                    additionalProperties: false
                family_name:
                  type: string
                given_name:
                  type: string
                name:
                  type: string
                  description: The display name. Required when creating.
                notes:
                  type: string
                organization:
                  type: string
                phones:
                  type: array
                  description: Replaces the whole list.
                  items:
                    type: object
                    properties:
                      number:
                        type: string
                      type:
                        type: string
                    required:
                      - number
                    additionalProperties: false
                title:
                  type: string
              required:
                - name
              additionalProperties: false
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      address_book_id:
                        type: string
                        description: Which book holds it.
                      created_at:
                        type: string
                        format: date-time
                      emails:
                        type: array
                        description: Addresses, in stored order. The first is the one to compose to.
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            type:
                              type: string
                              description: A label such as work or home. Free text, not a closed set.
                          required:
                            - address
                          additionalProperties: false
                      family_name:
                        type: string
                      given_name:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                        description: The display name. Core calls this formatted_name; it is name here, because that is what every other resource in this API calls the human-readable string.
                      notes:
                        type: string
                      organization:
                        type: string
                      phones:
                        type: array
                        description: Numbers, in stored order.
                        items:
                          type: object
                          properties:
                            number:
                              type: string
                            type:
                              type: string
                              description: A label such as cell or work.
                          required:
                            - number
                          additionalProperties: false
                      title:
                        type: string
                        description: Their job title, not a name prefix.
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - contacts.write
    delete:
      operationId: contactsDeleteContact
      summary: Delete a contact
      description: |-
        Removes a contact.

        Removes the contact from its address book. The book itself is untouched.
      tags:
        - contacts
      parameters:
        - name: id
          in: path
          required: true
          description: The contact to remove.
          schema:
            type: string
            description: The contact to remove.
      responses:
        "204":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - contacts.write
  /v1/documents:
    get:
      operationId: documentsListDocuments
      summary: List documents
      description: |-
        Lists documents and spreadsheets with cursor pagination.

        Scoped to what the key's owner can see: a scope says what kind of thing a key may do, never which documents it reaches. There is no total count — page until has_more is false — because the underlying query does not compute one and a number that is sometimes wrong is worse than an absent one.
      tags:
        - documents
      parameters:
        - name: type
          in: query
          description: Restrict to one kind. Uploaded files are listed at /v1/files.
          schema:
            type: string
            description: Restrict to one kind. Uploaded files are listed at /v1/files.
            enum:
              - document
              - spreadsheet
        - name: folder_id
          in: query
          description: Only documents filed in this folder.
          schema:
            type: string
            description: Only documents filed in this folder.
        - name: q
          in: query
          description: Free-text match against the title.
          schema:
            type: string
            description: Free-text match against the title.
        - name: trashed
          in: query
          description: true lists the trash instead.
          schema:
            type: boolean
            description: true lists the trash instead. Defaults to false.
        - name: limit
          in: query
          description: 1 to 200.
          schema:
            type: integer
            description: 1 to 200. Defaults to 50.
        - name: cursor
          in: query
          description: From the previous page's next_cursor. Opaque.
          schema:
            type: string
            description: From the previous page's next_cursor. Opaque.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      folder_id:
                        type: string
                        description: Empty for a document in the root.
                      id:
                        type: string
                      metadata:
                        type: object
                        description: Whatever you stored on it.
                      owner_id:
                        type: string
                        description: The workspace user who owns it, which is not necessarily the key's owner.
                      state:
                        type: string
                        enum:
                          - active
                          - trashed
                      title:
                        type: string
                      type:
                        type: string
                        enum:
                          - document
                          - spreadsheet
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.documents.read
    post:
      operationId: documentsCreateDocument
      summary: Create a document
      description: |-
        Creates a document or a spreadsheet. A new spreadsheet arrives with its workbook ready, so the spreadsheet endpoints work on it immediately.

        A new spreadsheet arrives with its workbook already seeded, so the spreadsheet endpoints work on it immediately rather than after a first write.
      tags:
        - documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                folder_id:
                  type: string
                  description: Where to file it. The root when omitted.
                metadata:
                  type: object
                  description: Anything you want to keep with the document. Yours to shape; this API does not read it.
                title:
                  type: string
                  description: Defaults to an untitled name.
                type:
                  type: string
                  description: 'A file is not created here: uploading one creates it, and minting an empty file would leave a row with no bytes behind it.'
                  enum:
                    - document
                    - spreadsheet
              required:
                - type
              additionalProperties: false
      responses:
        "201":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      folder_id:
                        type: string
                        description: Empty for a document in the root.
                      id:
                        type: string
                      metadata:
                        type: object
                        description: Whatever you stored on it.
                      owner_id:
                        type: string
                        description: The workspace user who owns it, which is not necessarily the key's owner.
                      state:
                        type: string
                        enum:
                          - active
                          - trashed
                      title:
                        type: string
                      type:
                        type: string
                        enum:
                          - document
                          - spreadsheet
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.documents.write
  /v1/documents/{id}:
    get:
      operationId: documentsGetDocument
      summary: Get a document
      description: |-
        Returns a document's metadata. Its contents are read through the spreadsheet endpoints.

        Metadata only. A spreadsheet's contents are read through the spreadsheet endpoints, which is why this stays cheap on a large workbook.
      tags:
        - documents
      parameters:
        - name: id
          in: path
          required: true
          description: The document to read.
          schema:
            type: string
            description: The document to read.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      folder_id:
                        type: string
                        description: Empty for a document in the root.
                      id:
                        type: string
                      metadata:
                        type: object
                        description: Whatever you stored on it.
                      owner_id:
                        type: string
                        description: The workspace user who owns it, which is not necessarily the key's owner.
                      state:
                        type: string
                        enum:
                          - active
                          - trashed
                      title:
                        type: string
                      type:
                        type: string
                        enum:
                          - document
                          - spreadsheet
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.documents.read
    patch:
      operationId: documentsUpdateDocument
      summary: Update a document
      description: |-
        Renames, moves or replaces a document's content.

        Anyone with the document open is told, so a title changed through this API appears in their tab without a reload.

        Send what changes; omitted fields are left alone. Send one of the two.
      tags:
        - documents
      parameters:
        - name: id
          in: path
          required: true
          description: The document to change.
          schema:
            type: string
            description: The document to change.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  description: Replaces the stored object rather than merging into it.
                title:
                  type: string
              additionalProperties: false
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      folder_id:
                        type: string
                        description: Empty for a document in the root.
                      id:
                        type: string
                      metadata:
                        type: object
                        description: Whatever you stored on it.
                      owner_id:
                        type: string
                        description: The workspace user who owns it, which is not necessarily the key's owner.
                      state:
                        type: string
                        enum:
                          - active
                          - trashed
                      title:
                        type: string
                      type:
                        type: string
                        enum:
                          - document
                          - spreadsheet
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.documents.write
    delete:
      operationId: documentsDeleteDocument
      summary: Delete a document
      description: |-
        Moves a document to the trash, which is reversible. There is no permanent delete: retrying a failed batch cannot destroy anything.

        Moves it to the trash, which is reversible with the restore endpoint. A permanent delete is not exposed at all, so an integration retrying a failed batch cannot destroy a customer's work.
      tags:
        - documents
      parameters:
        - name: id
          in: path
          required: true
          description: The document to trash.
          schema:
            type: string
            description: The document to trash.
      responses:
        "204":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.documents.write
  /v1/documents/{id}/comments:
    get:
      operationId: documentsListComments
      summary: List comments
      description: |-
        Lists comment threads on a document.

        Resolved threads are included by default, which is the opposite of the editor's sidebar: an integration auditing a document wants the whole history rather than the open half.
      tags:
        - documents
      parameters:
        - name: id
          in: path
          required: true
          description: The document whose comments to read.
          schema:
            type: string
            description: The document whose comments to read.
        - name: include_resolved
          in: query
          description: false hides closed threads.
          schema:
            type: boolean
            description: false hides closed threads. Defaults to true.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      author_id:
                        type: string
                      body:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      document_id:
                        type: string
                      id:
                        type: string
                      parent_id:
                        type: string
                        description: Set on a reply, absent on a thread's first comment.
                      state:
                        type: string
                        enum:
                          - open
                          - resolved
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.comments.read
    post:
      operationId: documentsCreateComment
      summary: Post a comment
      description: |-
        Adds a comment to a document, or a reply when parent_id is set.

        Needs comment access on the document, which is its own permission level in this product rather than a shade of edit.
      tags:
        - documents
      parameters:
        - name: id
          in: path
          required: true
          description: The document to comment on.
          schema:
            type: string
            description: The document to comment on.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                anchor:
                  type: object
                  description: Where in the document it points, when it points anywhere. Passed through as the editor stores it.
                body:
                  type: string
                  description: The comment text.
                parent_id:
                  type: string
                  description: Makes this a reply to that comment rather than a new thread.
              required:
                - body
              additionalProperties: false
      responses:
        "201":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      author_id:
                        type: string
                      body:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      document_id:
                        type: string
                      id:
                        type: string
                      parent_id:
                        type: string
                        description: Set on a reply, absent on a thread's first comment.
                      state:
                        type: string
                        enum:
                          - open
                          - resolved
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.comments.write
  /v1/documents/{id}/copy:
    post:
      operationId: documentsCopyDocument
      summary: Copy a document
      description: |-
        Copies a document with its contents. The copy belongs to the key's owner.

        Copies the contents, not an empty shell, so a copied spreadsheet has its data. Viewing the original is enough, because nothing about it changes; the copy belongs to the key's owner.

        The whole body is optional: send nothing to copy it into the root under a default name.
      tags:
        - documents
      parameters:
        - name: id
          in: path
          required: true
          description: The document to copy.
          schema:
            type: string
            description: The document to copy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                folder_id:
                  type: string
                  description: Where to put the copy. The root when omitted.
                title:
                  type: string
                  description: Defaults to "Copy of" the original.
              additionalProperties: false
      responses:
        "201":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      folder_id:
                        type: string
                        description: Empty for a document in the root.
                      id:
                        type: string
                      metadata:
                        type: object
                        description: Whatever you stored on it.
                      owner_id:
                        type: string
                        description: The workspace user who owns it, which is not necessarily the key's owner.
                      state:
                        type: string
                        enum:
                          - active
                          - trashed
                      title:
                        type: string
                      type:
                        type: string
                        enum:
                          - document
                          - spreadsheet
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.documents.write
  /v1/documents/{id}/restore:
    post:
      operationId: documentsRestoreDocument
      summary: Restore a document
      description: |-
        Takes a document back out of the trash.

        Takes no body. Restoring a document that was never trashed changes nothing and still answers with it.
      tags:
        - documents
      parameters:
        - name: id
          in: path
          required: true
          description: The trashed document to restore.
          schema:
            type: string
            description: The trashed document to restore.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      created_at:
                        type: string
                        format: date-time
                      folder_id:
                        type: string
                        description: Empty for a document in the root.
                      id:
                        type: string
                      metadata:
                        type: object
                        description: Whatever you stored on it.
                      owner_id:
                        type: string
                        description: The workspace user who owns it, which is not necessarily the key's owner.
                      state:
                        type: string
                        enum:
                          - active
                          - trashed
                      title:
                        type: string
                      type:
                        type: string
                        enum:
                          - document
                          - spreadsheet
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: No such record, or it belongs to another workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - docs.documents.write
  /v1/drafts:
    get:
      operationId: mailListDrafts
      summary: List drafts
      description: Lists saved drafts.
      tags:
        - mail
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      folder_id:
                        type: string
                      from:
                        type: string
                      id:
                        type: string
                      size:
                        type: integer
                      subject:
                        type: string
                      updated_at:
                        type: string
                        format: date-time
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - mail.messages.read
    post:
      operationId: mailCreateDraft
      summary: Create a draft
      description: |-
        Saves a draft without sending it.

        A draft can be incomplete: nothing here is required, because a draft is by definition unfinished.
      tags:
        - mail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                subject:
                  type: string
                text:
                  type: string
                to:
                  type: array
                  items:
                    type: string
              additionalProperties: false
      responses:
        "201":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/Meta'
                required:
                  - data
                  - meta
        "401":
          description: The credential is missing, malformed, or not one this API issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: The key is valid but was not granted a permission this endpoint needs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: The plan's rate limit or daily quota is spent. See RateLimit-Reset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Something failed on our side. The request id in the body identifies it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKey:
            - mail.messages.write
  /v1/drafts/{id}:
    put:
      operationId: mailReplaceDraft
      summary: Replace a draft
      description: |-
        Replaces a saved draft in full. Drafts are replaced rather than patched: there is no coherent way to merge two versions of a message body.

        PUT, so this replaces the draft entirely. Anything you leave out is cleared, because there is no coherent way to merge two versions of a message body.
      tags:
        - mail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                subject:
                  type: string
                text:
                  type: string
                to:
                  type: array
                  items:
                    type: string
              additionalProperties: false
      responses:
        "200":
[...]
